cleanNode('master') {
    try {
        stage('Clone') {
            git 'https://github.com/apachelogger/neon-appstream-health.git'
        }
        stage('Bundle') {
            sh '[ -f Gemfile.lock ] || bundler install --path vendor/bundle'
        }
        stage('Test') {
          try {
            sh 'bundle exec rake test'
          } finally {
            junit 'test/reports/*.xml'
          }
        }
    } catch (e) {
        stage('Notify') {
        mail to: 'sitter@kde.org',
             from: 'Neon CI <noreply@kde.org>',
             subject: '[Neon CI] AppStream repository data broken!',
             body: '''The AppStream data of repositories are broken. This needs fixing urgently.

${BUILD_URL}/testReport/'''
            sh 'IRC_CHANNELS=#kde-neon IRC_NICK=neon-oceanbot bundle exec ./irc_notify FAILURE &> /dev/null'
        }
        throw e
    }
}

def cleanNode(label = null, body) {
  node(label) {
    deleteDir()
    try {
      wrap([$class: 'AnsiColorBuildWrapper', colorMapName: 'xterm']) {
        wrap([$class: 'TimestamperBuildWrapper']) {
          body()
        }
      }
    } finally {
      step([$class: 'WsCleanup', cleanWhenFailure: true])
    }
  }
}
